---
import ArrowRightTop from "../icons/ArrowRightTop.astro";
import PrimaryButton from "../PrimaryButton.astro";
import HomeProjectCard from "../HomeProjectCard.astro";
import SectionTitle from "../SectionTitle.astro";
import type { Project } from "../../lib/types";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { title, latestProjects, featuredProjects } = Astro.props;

if (!latestProjects.length && !featuredProjects.length) {
  return;
}
---

<section class="lg:py-20 py-10 px-4">
  <header class="flex justify-between">
    <SectionTitle title={title} />
    <PrimaryButton href="/projects">
      {t("see-more")}
      <ArrowRightTop />
    </PrimaryButton>
  </header>

  {
    latestProjects.length && (
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 mt-11">
        {latestProjects.map((project: Project) => (
          <HomeProjectCard
            id={project.id}
            tags={project.tags}
            title={project.title}
            description={project.description}
            shortDescription={project.shortDescription}
            image={project.image}
            link={project.link}
          />
        ))}
      </div>
    )
  }

  {
    featuredProjects.length && (
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 mt-11">
        {featuredProjects.map((project: Project) => (
          <HomeProjectCard
            id={project.id}
            tags={project.tags}
            title={project.title}
            description={project.description}
            shortDescription={project.shortDescription}
            image={project.image}
            link={project.link}
          />
        ))}
      </div>
    )
  }
</section>
