---
interface Props {
  label: string;
  type: string;
  id: string;
  required?: boolean;
}

const { label, type = "text", id, required = false } = Astro.props;
---

<div class="relative z-0">
  <input
    type={type}
    id={id}
    name={id}
    class="block py-2.5 px-0 w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-white focus:outline-none focus:ring-0 focus:border-white peer"
    placeholder=" "
    required={required}
  />
  <label
    for={id}
    class="absolute text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 top-3 -z-10 origin-[0] peer-focus:start-0 peer-placeholder-shown:translate-y-0 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto flex items-center justify-between gap-1 w-full peer-focus:justify-start"
  >
    {label}
    {required && <span>*</span>}
  </label>
</div>
